###########################
## LazarusIntrashipServices
###########################

doc/subversion_doc

lis_component/unit_test/backup
lis_component/unit_test/bin/i386-win32/Debug
lis_component/unit_test/lib/i386-win32/Debug
lis_component/unit_test/register/backup
lis_component/tests/register/backup

first_steps/bin/i386-win32/debug/
first_steps/lib/i386-win32/debug/
first_steps/backup/
first_steps/source/backup/

settings.ini
dbugsrv.exe
*.bak
*.lps
*.lnk
*.dll
*.exe
*.pdf
*.zargo~
*.compiled