###########################
## LazarusIntrashipServices
###########################

Authentifizierung.pdf
Beispieldaten.pdf
I_O Referenz.pdf
Beispieldaten - DeleteShipmentOrder - DHL Entwicklerportal.pdf
Beispieldaten - GetLabel - DHL Entwicklerportal.pdf
I_O Referenz - DeleteShipmentOrder - DHL Entwicklerportal.pdf
I_O Referenz - GetLabel - DHL Entwicklerportal.pdf
lib/i386-win32/
example/lib/i386-win32/
test/lib/i386-win32/
settings.ini
*.bak
*.lps
*.lnk
*.dll
*.exe